<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
</head>
<body>
    <h1>Edit Recipe</h1>
    <form action="/recipes/<%=recipe.id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="recipe[title]" value="<%=recipe.title %>">
        </div>
        <button>Update Recipe</button>
    </form>
    <a href="/recipes/<%= recipe._id%>">Back to Recipe</a>
</body>
</html>